.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

ui {
  color: #61dafb;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  border: 2px black;
  cursor: pointer;
}

li {
  display: inline-block;
  padding-left: 4%;
  /* background-color: red; */
  color: #456e63;
  padding-top: 11vh;
  padding-bottom: 11vh;
  align-content: left;
}

a {
  text-decoration: none;
}
